# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Crap
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated code/libraries
gen
node_modules
.timestamp
browser/build/

# Project files
.idea
*.iml
.env
